{% load static %}
<html>
    <head>
        <tittle>
        App Enquetes
        </tittle>
        <link rel="stylesheet" type="text/css"
        href="{% static 'enquetes/style.css' %}"/>
    </head>

    <body>
        <h2>Aplicação de Enquetes</h2>
        <hr/>
        {% if ultimas_enquetes %}
            <ul>
            {% for enq in ultimas_enquetes %}
            <li><a href="{% url 'enquetes:detalhes' enq.id %}">
                {{enq.texto}}</a> -
                (<a href="{% url 'enquetes:resultado' enq.id %}">
                Ver parcial</a>)</li>
            {% endfor %}
            </ul>
        {%else%}
            <p>Nenhuma enquete cadastrda até o momento</p>
        {% endif %}
        <hr/>
        <a href="{% url 'main:index' %}">Home do projeto</a>
        <hr/>
        <img src="{% static 'enquetes/imgs/165896.jpg' %}" />
    </body>

</html>